.text {
	color: crimson;
}
.donut {
	width: 250px;
	height: 250px;
	border: 200px solid tan;
	border-radius: 50%;
}

.leftfang {
	width: 0;
	height: 0;
	border-left: 25px solid transparent;
	border-right: 25px solid transparent;
	border-top: 90px solid lightgray;
	position: relative;
	left: 240px;
	top: -448px;

}

.rightfang {
	width: 0;
	height: 0;
	border-left: 25px solid transparent;
	border-right: 25px solid transparent;
	border-top: 90px solid lightgray;
	position: relative;
	left: 350px;
	top: -540px;

}

.lefteye {
	width: 55px;
	height: 55px;
	border: solid 15px black;
	background-color: crimson;
	border-radius: 50px;
	position: relative;
	left: 200px;
	top: -750px;
}

.righteye {
	width: 55px;
	height: 55px;
	border: solid 15px black;
	background-color: crimson;
	border-radius: 50px;
	position: relative;
	left: 355px;
	top: -835px;
}

.leftbrow {
	width: 85px;
	height: 5px;
	border: solid 15px black;
	background-color: white;
	position: relative;
	left: 200px;
	top: -950px;
	transform: rotate(35deg);
}

.rightbrow {
	width: 85px;
	height: 5px;
	border: solid 15px black;
	background-color: white;
	position: relative;
	left: 330px;
	top: -989px;
	transform: rotate(-35deg);
}

.leftbottomfang {
	width: 0;
	height: 0;
	border-left: 17px solid transparent;
	border-right: 17px solid transparent;
	border-bottom: 65px solid lightgray;
	position: relative;
	left: 270px;
	top: -683px;

}

.rightbottomfang {
	width: 0;
	height: 0;
	border-left: 17px solid transparent;
	border-right: 17px solid transparent;
	border-bottom: 65px solid lightgray;
	position: relative;
	left: 350px;
	top: -750px;

}